/*
<Link href="/">
    <li className="flex cursor-pointer p-5 m-5 bg-sky-400 text-sm text-black rounded-lg sm:text-base lg:text-xl">
      {name[0]}
    </li>
  </Link>;
*/

li{
    display: flex;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    background-color: #38BDF8;
    color: #000;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}